<h1>Welcome to StyleBase</h1>

<%= link_to "About Us", about_path %>
<%= link_to "Contact Us", contact_path %>
<%= link_to "Help", help_path %>



<br>
<h3>New Client Account</h3>
<%= link_to "Sign up as a new Client", client_signup_path %>

<br>

<h3>New Barber Account</h3>
<%= link_to "Sign up as a new Barber", '/' %>
