<h1>Welcome to BarberBase</h1>
<h3>The Premier Site for </h3>

<%= link_to "About Us", about_path %>
<%= link_to "Contact Us", contact_path %>
<%= link_to "Help", help_path %>



<br>
<h3>Login</h3>
<%= link_to "Login to your Client Account", login_path %>


<br>
<h3>New Client Account</h3>
<%= link_to "Sign up as a new Client", client_signup_path %>

<br>
<br>
<br>

<h4>Are you a barber and want to sign up?</h4>
<h5>Email us at <%= link_to "hello@barberbase.com", "/" %> </h5>
