<div class="container">
  <h4 class="center-align teal-text text-darken-1">Create Account</h4>

  <%= form_for @client do |f| %>
    <%= f.text_field :name, placeholder: 'Full Name', class: 'center-align' %><br>

    <%= f.text_field :email, placeholder: 'Email', class: 'center-align' %><br>

    <%= f.password_field :password, placeholder: 'Create a Password', class: 'center-align' %><br>

    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'center-align'%><br><br>
    <div class="section">
      <div class="center-align">
        <%= f.submit "Sign Up", class: "btn teal darken-1" %>
      </div>
    </div>

  <% end %>

  <div class="section">
    <div class="center-align">
    <%= link_to "Login to existing account", login_path, class: "" %>
    </div>
  </div>

</div>
