<!-- RUBY -->
<h2>Hello, <%= @client.name %></h2>

<!-- End RUBY -->
<br>

<h4><%= link_to "Make an new Appointment", stylists_path %></h4>

<br>

<h4><%= link_to "Upcoming Appointments", stylists_path %></h4>
<ul>
  <% @client.appointments.each do |appointment| %>
    <% time = appointment.start_time_display %>
    <% appoinment_info = appointment.date.strftime("%A, %m/%d/%Y at #{time}") %>
    <h5><%= appoinment_info %></h5>
    <%= button_to "Cancel Appointment", appointment_delete_path(appointment),  method: :delete, data: { confirm: "Are you sure you want to cancel your appointment for #{appoinment_info}?" } %>
    <br>
  <% end %>
</ul>
<br>

<!-- RUBY -->
<%= link_to "Favorite Barbers", edit_client_path %>
<br><br>
<%= link_to "Edit Profile", edit_client_path %>
<br><br>
<!-- <h4>Payment Options</h4> -->
<br><br>
<% if logged_in? %>
  <%= link_to "Logout", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
