<!-- RUBY -->
<h2>Hello, <%= @client.name %></h2>

<!-- End RUBY -->
<br>

<h4><%= link_to "Make an new Appointment", stylists_path %></h4>

<br>

<!-- RUBY -->
<%= link_to "Favorite Barbers", edit_client_path %>
<br><br>
<%= link_to "Edit Profile", edit_client_path %>
<br><br>
<!-- <h4>Payment Options</h4> -->
<br><br>
<% if logged_in? %>
  <%= link_to "Logout", sessions_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
